trunk/camel-cxf-server/src/main/resources/fileupload.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="UploadResourceService"
	targetNamespace="http://swiftstar.com/ws/definitions" xmlns:ns1="http://swiftstar.com/ws/schemas"
	xmlns:ns2="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://swiftstar.com/ws/definitions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified" targetNamespace="http://swiftstar.com/ws/schemas"
			xmlns:tns="http://swiftstar.com/ws/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="BinaryFile" nillable="true" type="xs:base64Binary" />
			<xs:element name="Email" nillable="true" type="xs:string" />
			<xs:element name="FileUploadDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FirstName" type="xs:string" />
						<xs:element minOccurs="0" name="MiddleName" type="xs:string" />
						<xs:element name="LastName" type="xs:string" />
						<xs:element name="Email" type="xs:string" />
						<xs:element name="BinaryFile" type="xs:base64Binary" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="FileUploadRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:FileUploadDetails" />
					</xs:sequence>
					<xs:attribute name="version" type="xs:string" />
				</xs:complexType>
			</xs:element>
			<xs:element name="FileUploadResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FileUploadResponseCode" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FileUploadResponseCode" nillable="true"
				type="xs:string" />
			<xs:element name="FirstName" nillable="true" type="xs:string" />

			<xs:element name="LastName" nillable="true" type="xs:string" />
			<xs:element name="MiddleName" nillable="true" type="xs:string" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="FileUploadResponse">
		<wsdl:part element="ns1:FileUploadResponse" name="FileUploadResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="FileUpload">
		<wsdl:part element="ns1:FileUploadRequest" name="FileUploadRequest">

		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="UploadResource">
		<wsdl:operation name="FileUpload">
			<wsdl:input message="tns:FileUpload" name="FileUpload">
			</wsdl:input>
			<wsdl:output message="tns:FileUploadResponse" name="FileUploadResponse">
			</wsdl:output>
		</wsdl:operation>

	</wsdl:portType>
	<wsdl:binding name="UploadResourceServiceSoapBinding"
		type="tns:UploadResource">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="FileUpload">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="FileUpload">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="FileUploadResponse">

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UploadResourceService">
		<wsdl:port binding="tns:UploadResourceServiceSoapBinding"
			name="UploadResourcePort">
			<soap:address
				location="http://localhost:8889/camel-cxf-server/webservices/testService" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>